.DS_Store
program/target/
artifacts/sol/circuits/powersOfTau28_hez_final_18.ptau
artifacts/sol/circuits/transaction2_0.zkey
anchor/sol/.anchor
anchor/sol/.DS_Store
anchor/sol/target
anchor/sol/**/*.rs.bk
anchor/sol/node_modules
anchor/sol/test-ledger
anchor/sol/.yarn
anchor/.anchor
anchor/sol/deploy-keypair.json
anchor/sol/zkcash-keypair.json